body{
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #919191;
    background-color: #232323;
    font-family: Arial, Helvetica, SansSerif;
}
div#topo{
    width: 100%;
    height: auto;
    border: 1px solid red;
}
header{
    width: 980px;
    height: 50px;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 350px 630px;

    border: 1px solid red;
}
header div{
    border: 1px solid red;
}
header #header-contato{
    text-align: right;
}
h1, h2, h3, h4, h5, h6{
    margin: 0 0 0 0;
    font-size: 1.5em;
    /* 'em' faz aplicar 1,5 vezes de tamanho em cima do tamanho padrão
    do body (neste caso em cima do 14) */
    font-weight: normal;
}
#grupo h1{
    font-size: 2em;
}
#grupo h2{
    font-size: 1em;
}
header #header-contato li{
    display: inline-block;
    border-left: 1px solid #C0BAB6;
    padding: 0 0 0 15px;
    margin: 0 0 0 15px;
}
header #header-contato li:first-child{
    margin: 0;
    padding: 0;
    border: none;
}
#topo, #topo a{
    color: #C0BAB6; /*a cor padrão do link altera aqui*/
    background-color: #333333;
    text-decoration: none; /* remove o sublinhado do link */
}
span.material-symbols-outlined{
    vertical-align: middle;
}
/* menu */
a{
    color: #FF9900;
    text-decoration: none;
}
nav{
    width: 980px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    border: 1px solid red;
}
nav ul{ /*lista de links do menu*/
    margin: 0;
    list-style: none; /*tira bolinha de marcador da lista*/
    text-transform: uppercase; /* uppercase mostra texto caixa alta, o contrário lowercase */
    font-size: 12px;
}
nav li{ /*links do menu*/
    float: left; /*flutuar a esquerda até preencher a tela, não cabe mais vai pra baixo (= inline block)*/
    margin: 0 30px 0 0;
    border: 1px solid red;
}
nav li a{
    display: block;
    padding: 20px 0; /*quando usa 2 valores: o 1° é topo e bottom, o 2° são os lados*/
    font-weight: bold;
}
nav.home li.link_home a, nav a:hover{ /*cor do link quando passa o mouse*/
    color: #919191;
}
/*main*/
main{
    width: 980px;
    height: 350px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: row; /*column*/
    justify-content: center; /*space-between || space-around*/
    align-items: center; /*baseline || flex-end*/
    flex-wrap: wrap; /*   [nowrap  |  wrap  |  wrap-reverse]  */
    row-gap: 10px;
    column-gap: 40px;

    border: 1px solid red;
}
.sectionMain{
    width: 190px;
    height: 300px;
    border: 1px solid #CCC;
    border-radius: 20px;
    padding: 10px;
}
.sectionMain h1{
    text-align: center;
}
.sectionMain p{
    line-height: 20px;
    text-align: justify;
}
.sectionMain article{
    height: 250px;
}
.sectionMain footer{
    text-align: center;
}
/* Botões do main article*/
.botao{
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: .9em;
    padding: 5px 15px;
}
a.botao{
    color: #FFF;
    border: 1px solid;
    border-radius: 5px;
}
.botao.saiba_mais_caminhoes{
    background: linear-gradient(to right, #C0E079, #98BA55);
    text-shadow: 1px 1px 0 #000;
    border-color: #98BA55;
}
.botao.saiba_mais_caminhoes:hover{
    color: #7C9B41;
    border-color: #7C9B41;
}
.botao.saiba_mais_avioes{
    background: linear-gradient(to right, #C0E079, #98BA55);
    text-shadow: 1px 1px 0 #000;
    border-color: #98BA55;
}
.botao.saiba_mais_avioes:hover {
    color: #7C9B41;
    border-color: #7C9B41;
}
.botao.saiba_mais_rastreamento{
    background: linear-gradient(to right, #C0E079, #98BA55);
    text-shadow: 1px 1px 0 #000;
    border-color: #98BA55;
}
.botao.saiba_mais_rastreamento:hover {
    color: #7C9B41;
    border-color: #7C9B41;
}
.botao.saiba_mais_smartphone{
    background: linear-gradient(to right, #C0E079, #98BA55);
    text-shadow: 1px 1px 0 #000;
    border-color: #98BA55;
}
.botao.saiba_mais_smartphone:hover {
    color: #7C9B41;
    border-color: #7C9B41;
}
#sectionCliente{
    width: 100%;
    height: 320%;
    background-color: #FFFFFF;
}
#sectionCliente h1{
    text-align: center;
    padding-top: 10px;
}
#conteudoCliente{
    border: 1px solid red;
    height: 200px;
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 250px 250px 250px;
}
#conteudoCliente article{
    border: 4px solid #919191;
    margin: 10px;
    border-radius: 10px;
}
#conteudoCliente img{
    width: 100%;
    height: 100%;
}